---
layout: page
title: Персонажи
permalink: /characters/
---

{% assign characters = site.characters | sort_natural %}
{% if characters.size > 0 %}
  {% for post in characters %}
    <article class="post-card">
      {% if post.image %}
        <a class="post-card-image-link" href="{{ post.url | relative_url }}">
          <div class="post-card-image" style="background-image: url({{  post.image | relative_url }})"></div>
        </a>
      {% endif %}
      <div class="post-card-content {% unless post.image %}no-cover{% endunless %}">
        <a class="post-card-content-link" href="{{ post.url | relative_url }}">
          <header class="post-card-header">
            <h2 class="post-card-title">{{ post.title }}</h2>
          </header>
          <section class="post-card-excerpt">
            {% if post.description %}
              <p>{{ post.description | truncate: 128 }}</p>
            {% elsif post.excerpt %}
              <p>{{ post.excerpt | strip_html | truncate: 128 }}</p>
            {% else %}
              <p>{{ post.content | strip_html | truncate: 128 }}</p>
            {% endif %}
          </section>
        </a>
      </div>
    </article>
  {% endfor %}
{% else %}
  <p style="text-align: center"><em>Кажется, здесь ничего нет. <a href="{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}">Вернёмся на главную?</a></em></p>
{% endif %}
