{% assign stories = site.stories | sort: 'date' | reverse %}

{% if stories.size > 0 %}

    {% assign charstories = stories | where: 'category', 'charstories' %}
    {% assign fanfictions = stories | where: 'category', 'fanfictions' %}
    {% assign shorts = stories | where: 'category', 'shorts' %}

    {% if include.type == 'allstories' %}

        {% if charstories.size > 0 %}
            <h2>Истории персонажей</h2>
            {% for post in charstories | limit: include.limit %}
                {% include post-card.html %}
            {% endfor %}
            {% if charstories.size > include.limit %}
                <p><em>Хотите больше? Посетите страницу со списком <a href="{{ '/stories/charstories/' | relative_url }}">историй персонажей</a>!</em></p>
            {% endif %}
        {% endif %}

        {% if fanfictions.size > 0 %}
            <h2>Фанатские истории (фанфики)</h2>
            {% for post in fanfictions | limit: include.limit %}
                {% include post-card.html %}
            {% endfor %}
            {% if fanfictions.size > include.limit %}
                <p><em>Хотите больше? Посетите страницу со списком <a href="{{ '/stories/fanfictions/' | relative_url }}">фанатских историй (фанфиков)</a>!</em></p>
            {% endif %}
        {% endif %}

        {% if shorts.size > 0 %}
            <h2>Короткие истории</h2>
            {% for post in shorts | limit: include.limit %}
                {% include post-card.html %}
            {% endfor %}
            {% if shorts.size > include.limit %}
                <p><em>Хотите больше? Посетите страницу со списком <a href="{{ '/stories/shorts/' | relative_url }}">коротких историй</a>!</em></p>
            {% endif %}
        {% endif %}

        <h2>Все истории</h2>
        {% for post in stories %}
            {% include post-card.html %}
        {% endfor %}

    {% endif %}

    {% if include.type == 'charstories' %}

        {% if charstories.size > 0 %}
            {% for post in charstories %}
                {% include post-card.html %}
            {% endfor %}
        {% else %}
            <p style="text-align: center"><em>Кажется, здесь ничего нет. <a href="{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}">Вернёмся на главную?</a></em></p>
        {% endif %}

    {% endif %}

    {% if include.type == 'fanfictions' %}

        {% if fanfictions.size > 0 %}
            {% for post in fanfictions %}
                {% include post-card.html %}
            {% endfor %}
        {% else %}
            <p style="text-align: center"><em>Кажется, здесь ничего нет. <a href="{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}">Вернёмся на главную?</a></em></p>
        {% endif %}
    
    {% endif %}

    {% if include.type == 'shorts' %}

        {% if shorts.size > 0 %}
            {% for post in shorts %}
                {% include post-card.html %}
            {% endfor %}
        {% else %}
            <p style="text-align: center"><em>Кажется, здесь ничего нет. <a href="{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}">Вернёмся на главную?</a></em></p>
        {% endif %}
    
    {% endif %}

{% else %}
    <p style="text-align: center"><em>Кажется, здесь ничего нет. <a href="{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}">Вернёмся на главную?</a></em></p>
{% endif %}
