---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <h1>About Naveandice</h1>
  <hr />
  <ul>
    <li>I'm a horse. 🐴</li>
    <li>Unicode for the horse face emoji is <code>U+1F434</code>.</li>
    <li>Neigh.</li>
  </ul>
  <p>I needed a second page to test dynamic titles from BaseLayout.</p>
</BaseLayout>
