---
import BaseLayout from "../layouts/BaseLayout.astro";
import { siteConfig } from "../global.config";
---

<BaseLayout title="Home">
  <h1>{siteConfig.name}</h1>
  <p>{siteConfig.description}</p>
  <hr />
  <p>Hello, world!</p>
  <p><a href="/about/">About Naveandice</a></p>
</BaseLayout>
